.page{
    height: 90vh;

}
.register_form{
    padding: 30px;
    width: 400px;
    height: fit-content;
    border: 1px solid #ccc;
    gap:10px;
}
.redirection{
    width: 400px;
    height: 50px;
    border: 1px solid #ccc;

}
.insta{
    height: 100px;
    font-family: 'Billabong', 'Sofia Pro', 'Gelato Script', cursive;
}
.register_inputs{
    background-color: rgb(219, 216, 216);
    border: 1px solid #ccc;
    width: 300px;
    height: 40px;
    border-radius: 3px;
}
.register_button{
    background-color:rgb(56, 177, 233);
    border: 1px solid #ccc;
    width: 300px;
    height: 40px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.switch_button{
    cursor: pointer;
}