.parent {
  
  background-color: black;
  min-height: 100vh;
}
.container {
  margin-top: 30px;
  height: 300px;
  padding: 10px;
  
}

.recommendations {

  width: 20%;
  background-color: rgb(76, 126, 242);
}
