.profiles {
  margin-top: 20px;
  border-right: 1px solid grey;
  color: white;
  width: 20%;


  }
  .imageUser{
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

  .logout-button{
    background-color: black;
    padding: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
  }
  .logout-button:hover{
    background-color: white;
    color :black;
  }

.edit_inputs{
  height: 30px;
  padding: 3px;
  border-radius: 5px;
}
.edit_container{
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(129, 127, 127);
  /* display: none; */
}
.edit_button{
  padding: 7px;
  width: 70px;
  border-radius: 5px;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

