.profiles {
  
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid grey;
  color: white;
  width: 20%;
  height: fit-content;

  }
  .imageUser{
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }